version: '2'

services:

    es-master:
        labels:
            io.rancher.scheduler.affinity:container_label_soft_ne: io.rancher.stack_service.name=$${stack_name}/$${service_name}
            io.rancher.container.hostname_override: container_name
            io.rancher.sidekicks: es-storage, es-sysctl
        image: docker.elastic.co/elasticsearch/elasticsearch:5.5.1
        environment:
            - "cluster.name=es-cluster"
            - "node.name=$${HOSTNAME}"
            - "bootstrap.memory_lock=true"
            - "xpack.security.enabled=false"
            - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
            - "discovery.zen.ping.unicast.hosts=es-master"
            - "discovery.zen.minimum_master_nodes=3"
            - "node.master=true"
            - "node.data=false"
        ulimits:
            memlock:
                soft: -1
                hard: -1
            nofile:
                soft: 65536
                hard: 65536
        mem_limit: 1073741824
        mem_swappiness: 0
        cap_add:
            - IPC_LOCK
        volumes_from:
            - es-storage
        logging:
          driver: splunk
          options:
            splunk-url: ${SPLUNK_HEC_URL}
            splunk-token: ${SPLUNK_HEC_TOKEN}
            splunk-insecureskipverify: "true"
            splunk-sourcetype: elasticsearch-master
            splunk-verify-connection: "false"
            tag: "{{`{{.ImageName}} {{.Name}} {{.FullID}}`}}"
            splunk-format: json

    es-data:
        labels:
            io.rancher.scheduler.affinity:container_label_soft_ne: io.rancher.stack_service.name=$${stack_name}/$${service_name}
            io.rancher.container.hostname_override: container_name
            io.rancher.sidekicks: es-storage, es-sysctl
        image: docker.elastic.co/elasticsearch/elasticsearch:5.5.1
        environment:
            - "cluster.name=es-cluster"
            - "node.name=$${HOSTNAME}"
            - "bootstrap.memory_lock=true"
            - "xpack.security.enabled=false"
            - "discovery.zen.ping.unicast.hosts=es-master"
            - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
            - "node.master=false"
            - "node.data=true"
        ulimits:
            memlock:
                soft: -1
                hard: -1
            nofile:
                soft: 65536
                hard: 65536
        mem_limit: 1073741824
        mem_swappiness: 0
        cap_add:
            - IPC_LOCK
        volumes_from:
            - es-storage
        depends_on:
            - es-master
        logging:
          driver: splunk
          options:
            splunk-url: ${SPLUNK_HEC_URL}
            splunk-token: ${SPLUNK_HEC_TOKEN}
            splunk-insecureskipverify: "true"
            splunk-sourcetype: elasticsearch-data
            splunk-verify-connection: "false"
            tag: "{{`{{.ImageName}} {{.Name}} {{.FullID}}`}}"
            splunk-format: json

    es-client:
        labels:
            io.rancher.scheduler.affinity:container_label_soft_ne: io.rancher.stack_service.name=$${stack_name}/$${service_name}
            io.rancher.container.hostname_override: container_name
            io.rancher.sidekicks: es-storage, es-sysctl
        image: docker.elastic.co/elasticsearch/elasticsearch:5.5.1
        environment:
            - "cluster.name=es-cluster"
            - "node.name=$${HOSTNAME}"
            - "bootstrap.memory_lock=true"
            - "xpack.security.enabled=false"
            - "discovery.zen.ping.unicast.hosts=es-master"
            - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
            - "node.master=false"
            - "node.data=false"
        ulimits:
            memlock:
                soft: -1
                hard: -1
            nofile:
                soft: 65536
                hard: 65536
        mem_limit: 1073741824
        mem_swappiness: 0
        cap_add:
            - IPC_LOCK
        volumes_from:
            - es-storage
        depends_on:
            - es-master
        logging:
          driver: splunk
          options:
            splunk-url: ${SPLUNK_HEC_URL}
            splunk-token: ${SPLUNK_HEC_TOKEN}
            splunk-insecureskipverify: "true"
            splunk-sourcetype: elasticsearch-client
            splunk-verify-connection: "false"
            tag: "{{`{{.ImageName}} {{.Name}} {{.FullID}}`}}"
            splunk-format: json

    es-storage:
        labels:
            io.rancher.container.start_once: true
        network_mode: none
        image: rawmind/alpine-volume:0.0.2-1
        environment:
            - SERVICE_UID=1000
            - SERVICE_GID=1000
            - SERVICE_VOLUME=/usr/share/elasticsearch/data
        volumes:
            - es-storage-volume:/usr/share/elasticsearch/data

    es-sysctl:
        labels:
            io.rancher.container.start_once: true
        network_mode: none
        image: rawmind/alpine-sysctl:0.1
        privileged: true
        environment:
            - "SYSCTL_KEY=vm.max_map_count"
            - "SYSCTL_VALUE=262144"

volumes:
  es-storage-volume:
    driver: local
    per_container: true
